body{
  text-align: center;
  background-color: #272727;
}

.dice-container {
  width: 70vw;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #29606d;
  padding: 10px;
  border-radius: 20px;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vw;
  width: 20vw;
  background-color: #F6F6FF;
  margin: 1vw;
  border-radius: 20%;
  background-color: gray;
  font-size: 5rem;
  color: #F6F6FF;
}


.button-container {
  padding: 2vw;
  text-align: center;
  display: inline-block;
  width: 15vw;
}

hr {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

button{
  width: 100%;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

a {
  text-decoration: none;
  margin: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #F6F6FF;
}

h2 {
  color: #F6F6FF;
}


p {
  font-size: 2rem;
  color: #F6F6FF;
  font-family: 'Indie Flower', cursive;
}

img {
  margin: 1vw;
  width: 20vw;
  border-radius: 20%;
}

.white {
  color: #F6F6FF;
}

.mint-background {
  background-color:#4ECCA3;
}

.gray-background {
  background-color:gray;
}
